@model FirstAppDemo.Models.Employee
@{
    ViewBag.Title = $"Edit {Model.Name}";
}
<h1>Edit @Model.Name</h1>

<form asp-controller="Home" asp-action="Edit" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    
    <div>
        <input type="submit" value="Save" />
    </div>
</form>

