@model FirstAppDemo.Controllers.HomePageViewModel
@{ 
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>
                @*@Html.ActionLink(employee.Id.ToString(), "Details", new { id = employee.Id })*@
            </td>
            <td>@employee.Name</td>
        </tr>

    }
</table>

